.rc-phone-input {
  position: relative;
}
.rc-phone-input .ad {
  background-position: -16px 0;
}
.rc-phone-input .ae {
  background-position: -32px 0;
}
.rc-phone-input .af {
  background-position: -48px 0;
}
.rc-phone-input .ag {
  background-position: -64px 0;
}
.rc-phone-input .ai {
  background-position: -80px 0;
}
.rc-phone-input .al {
  background-position: -96px 0;
}
.rc-phone-input .am {
  background-position: -112px 0;
}
.rc-phone-input .ao {
  background-position: -128px 0;
}
.rc-phone-input .ar {
  background-position: -144px 0;
}
.rc-phone-input .as {
  background-position: -160px 0;
}
.rc-phone-input .at {
  background-position: -176px 0;
}
.rc-phone-input .au {
  background-position: -192px 0;
}
.rc-phone-input .aw {
  background-position: -208px 0;
}
.rc-phone-input .az {
  background-position: -224px 0;
}
.rc-phone-input .ba {
  background-position: -240px 0;
}
.rc-phone-input .bb {
  background-position: 0 -11px;
}
.rc-phone-input .bd {
  background-position: -16px -11px;
}
.rc-phone-input .be {
  background-position: -32px -11px;
}
.rc-phone-input .bf {
  background-position: -48px -11px;
}
.rc-phone-input .bg {
  background-position: -64px -11px;
}
.rc-phone-input .bh {
  background-position: -80px -11px;
}
.rc-phone-input .bi {
  background-position: -96px -11px;
}
.rc-phone-input .bj {
  background-position: -112px -11px;
}
.rc-phone-input .bm {
  background-position: -128px -11px;
}
.rc-phone-input .bn {
  background-position: -144px -11px;
}
.rc-phone-input .bo {
  background-position: -160px -11px;
}
.rc-phone-input .br {
  background-position: -176px -11px;
}
.rc-phone-input .bs {
  background-position: -192px -11px;
}
.rc-phone-input .bt {
  background-position: -208px -11px;
}
.rc-phone-input .bw {
  background-position: -224px -11px;
}
.rc-phone-input .by {
  background-position: -240px -11px;
}
.rc-phone-input .bz {
  background-position: 0 -22px;
}
.rc-phone-input .ca {
  background-position: -16px -22px;
}
.rc-phone-input .cd {
  background-position: -32px -22px;
}
.rc-phone-input .cf {
  background-position: -48px -22px;
}
.rc-phone-input .cg {
  background-position: -64px -22px;
}
.rc-phone-input .ch {
  background-position: -80px -22px;
}
.rc-phone-input .ci {
  background-position: -96px -22px;
}
.rc-phone-input .ck {
  background-position: -112px -22px;
}
.rc-phone-input .cl {
  background-position: -128px -22px;
}
.rc-phone-input .cm {
  background-position: -144px -22px;
}
.rc-phone-input .cn {
  background-position: -160px -22px;
}
.rc-phone-input .co {
  background-position: -176px -22px;
}
.rc-phone-input .cr {
  background-position: -192px -22px;
}
.rc-phone-input .cu {
  background-position: -208px -22px;
}
.rc-phone-input .cv {
  background-position: -224px -22px;
}
.rc-phone-input .cw {
  background-position: -240px -22px;
}
.rc-phone-input .cy {
  background-position: 0 -33px;
}
.rc-phone-input .cz {
  background-position: -16px -33px;
}
.rc-phone-input .de {
  background-position: -32px -33px;
}
.rc-phone-input .dj {
  background-position: -48px -33px;
}
.rc-phone-input .dk {
  background-position: -64px -33px;
}
.rc-phone-input .dm {
  background-position: -80px -33px;
}
.rc-phone-input .do {
  background-position: -96px -33px;
}
.rc-phone-input .dz {
  background-position: -112px -33px;
}
.rc-phone-input .ec {
  background-position: -128px -33px;
}
.rc-phone-input .ee {
  background-position: -144px -33px;
}
.rc-phone-input .eg {
  background-position: -160px -33px;
}
.rc-phone-input .er {
  background-position: -176px -33px;
}
.rc-phone-input .es {
  background-position: -192px -33px;
}
.rc-phone-input .et {
  background-position: -208px -33px;
}
.rc-phone-input .fi {
  background-position: -224px -33px;
}
.rc-phone-input .fj {
  background-position: -240px -33px;
}
.rc-phone-input .fk {
  background-position: 0 -44px;
}
.rc-phone-input .fm {
  background-position: -16px -44px;
}
.rc-phone-input .fo {
  background-position: -32px -44px;
}
.rc-phone-input .fr,
.rc-phone-input .bl,
.rc-phone-input .mf {
  background-position: -48px -44px;
}
.rc-phone-input .ga {
  background-position: -64px -44px;
}
.rc-phone-input .gb {
  background-position: -80px -44px;
}
.rc-phone-input .gd {
  background-position: -96px -44px;
}
.rc-phone-input .ge {
  background-position: -112px -44px;
}
.rc-phone-input .gf {
  background-position: -128px -44px;
}
.rc-phone-input .gh {
  background-position: -144px -44px;
}
.rc-phone-input .gi {
  background-position: -160px -44px;
}
.rc-phone-input .gl {
  background-position: -176px -44px;
}
.rc-phone-input .gm {
  background-position: -192px -44px;
}
.rc-phone-input .gn {
  background-position: -208px -44px;
}
.rc-phone-input .gp {
  background-position: -224px -44px;
}
.rc-phone-input .gq {
  background-position: -240px -44px;
}
.rc-phone-input .gr {
  background-position: 0 -55px;
}
.rc-phone-input .gt {
  background-position: -16px -55px;
}
.rc-phone-input .gu {
  background-position: -32px -55px;
}
.rc-phone-input .gw {
  background-position: -48px -55px;
}
.rc-phone-input .gy {
  background-position: -64px -55px;
}
.rc-phone-input .hk {
  background-position: -80px -55px;
}
.rc-phone-input .hn {
  background-position: -96px -55px;
}
.rc-phone-input .hr {
  background-position: -112px -55px;
}
.rc-phone-input .ht {
  background-position: -128px -55px;
}
.rc-phone-input .hu {
  background-position: -144px -55px;
}
.rc-phone-input .id {
  background-position: -160px -55px;
}
.rc-phone-input .ie {
  background-position: -176px -55px;
}
.rc-phone-input .il {
  background-position: -192px -55px;
}
.rc-phone-input .in {
  background-position: -208px -55px;
}
.rc-phone-input .io {
  background-position: -224px -55px;
}
.rc-phone-input .iq {
  background-position: -240px -55px;
}
.rc-phone-input .ir {
  background-position: 0 -66px;
}
.rc-phone-input .is {
  background-position: -16px -66px;
}
.rc-phone-input .it {
  background-position: -32px -66px;
}
.rc-phone-input .jm {
  background-position: -48px -66px;
}
.rc-phone-input .jo {
  background-position: -64px -66px;
}
.rc-phone-input .jp {
  background-position: -80px -66px;
}
.rc-phone-input .ke {
  background-position: -96px -66px;
}
.rc-phone-input .kg {
  background-position: -112px -66px;
}
.rc-phone-input .kh {
  background-position: -128px -66px;
}
.rc-phone-input .ki {
  background-position: -144px -66px;
}
.rc-phone-input .km {
  background-position: -160px -66px;
}
.rc-phone-input .kn {
  background-position: -176px -66px;
}
.rc-phone-input .kp {
  background-position: -192px -66px;
}
.rc-phone-input .kr {
  background-position: -208px -66px;
}
.rc-phone-input .kw {
  background-position: -224px -66px;
}
.rc-phone-input .ky {
  background-position: -240px -66px;
}
.rc-phone-input .kz {
  background-position: 0 -77px;
}
.rc-phone-input .la {
  background-position: -16px -77px;
}
.rc-phone-input .lb {
  background-position: -32px -77px;
}
.rc-phone-input .lc {
  background-position: -48px -77px;
}
.rc-phone-input .li {
  background-position: -64px -77px;
}
.rc-phone-input .lk {
  background-position: -80px -77px;
}
.rc-phone-input .lr {
  background-position: -96px -77px;
}
.rc-phone-input .ls {
  background-position: -112px -77px;
}
.rc-phone-input .lt {
  background-position: -128px -77px;
}
.rc-phone-input .lu {
  background-position: -144px -77px;
}
.rc-phone-input .lv {
  background-position: -160px -77px;
}
.rc-phone-input .ly {
  background-position: -176px -77px;
}
.rc-phone-input .ma {
  background-position: -192px -77px;
}
.rc-phone-input .mc {
  background-position: -208px -77px;
}
.rc-phone-input .md {
  background-position: -224px -77px;
}
.rc-phone-input .me {
  background-position: -112px -154px;
  height: 12px;
}
.rc-phone-input .mg {
  background-position: 0 -88px;
}
.rc-phone-input .mh {
  background-position: -16px -88px;
}
.rc-phone-input .mk {
  background-position: -32px -88px;
}
.rc-phone-input .ml {
  background-position: -48px -88px;
}
.rc-phone-input .mm {
  background-position: -64px -88px;
}
.rc-phone-input .mn {
  background-position: -80px -88px;
}
.rc-phone-input .mo {
  background-position: -96px -88px;
}
.rc-phone-input .mp {
  background-position: -112px -88px;
}
.rc-phone-input .mq {
  background-position: -128px -88px;
}
.rc-phone-input .mr {
  background-position: -144px -88px;
}
.rc-phone-input .ms {
  background-position: -160px -88px;
}
.rc-phone-input .mt {
  background-position: -176px -88px;
}
.rc-phone-input .mu {
  background-position: -192px -88px;
}
.rc-phone-input .mv {
  background-position: -208px -88px;
}
.rc-phone-input .mw {
  background-position: -224px -88px;
}
.rc-phone-input .mx {
  background-position: -240px -88px;
}
.rc-phone-input .my {
  background-position: 0 -99px;
}
.rc-phone-input .mz {
  background-position: -16px -99px;
}
.rc-phone-input .na {
  background-position: -32px -99px;
}
.rc-phone-input .nc {
  background-position: -48px -99px;
}
.rc-phone-input .ne {
  background-position: -64px -99px;
}
.rc-phone-input .nf {
  background-position: -80px -99px;
}
.rc-phone-input .ng {
  background-position: -96px -99px;
}
.rc-phone-input .ni {
  background-position: -112px -99px;
}
.rc-phone-input .nl,
.rc-phone-input .bq {
  background-position: -128px -99px;
}
.rc-phone-input .no {
  background-position: -144px -99px;
}
.rc-phone-input .np {
  background-position: -160px -99px;
}
.rc-phone-input .nr {
  background-position: -176px -99px;
}
.rc-phone-input .nu {
  background-position: -192px -99px;
}
.rc-phone-input .nz {
  background-position: -208px -99px;
}
.rc-phone-input .om {
  background-position: -224px -99px;
}
.rc-phone-input .pa {
  background-position: -240px -99px;
}
.rc-phone-input .pe {
  background-position: 0 -110px;
}
.rc-phone-input .pf {
  background-position: -16px -110px;
}
.rc-phone-input .pg {
  background-position: -32px -110px;
}
.rc-phone-input .ph {
  background-position: -48px -110px;
}
.rc-phone-input .pk {
  background-position: -64px -110px;
}
.rc-phone-input .pl {
  background-position: -80px -110px;
}
.rc-phone-input .pm {
  background-position: -96px -110px;
}
.rc-phone-input .pr {
  background-position: -112px -110px;
}
.rc-phone-input .ps {
  background-position: -128px -110px;
}
.rc-phone-input .pt {
  background-position: -144px -110px;
}
.rc-phone-input .pw {
  background-position: -160px -110px;
}
.rc-phone-input .py {
  background-position: -176px -110px;
}
.rc-phone-input .qa {
  background-position: -192px -110px;
}
.rc-phone-input .re {
  background-position: -208px -110px;
}
.rc-phone-input .ro {
  background-position: -224px -110px;
}
.rc-phone-input .rs {
  background-position: -240px -110px;
}
.rc-phone-input .ru {
  background-position: 0 -121px;
}
.rc-phone-input .rw {
  background-position: -16px -121px;
}
.rc-phone-input .sa {
  background-position: -32px -121px;
}
.rc-phone-input .sb {
  background-position: -48px -121px;
}
.rc-phone-input .sc {
  background-position: -64px -121px;
}
.rc-phone-input .sd {
  background-position: -80px -121px;
}
.rc-phone-input .se {
  background-position: -96px -121px;
}
.rc-phone-input .sg {
  background-position: -112px -121px;
}
.rc-phone-input .sh {
  background-position: -128px -121px;
}
.rc-phone-input .si {
  background-position: -144px -121px;
}
.rc-phone-input .sk {
  background-position: -160px -121px;
}
.rc-phone-input .sl {
  background-position: -176px -121px;
}
.rc-phone-input .sm {
  background-position: -192px -121px;
}
.rc-phone-input .sn {
  background-position: -208px -121px;
}
.rc-phone-input .so {
  background-position: -224px -121px;
}
.rc-phone-input .sr {
  background-position: -240px -121px;
}
.rc-phone-input .ss {
  background-position: 0 -132px;
}
.rc-phone-input .st {
  background-position: -16px -132px;
}
.rc-phone-input .sv {
  background-position: -32px -132px;
}
.rc-phone-input .sx {
  background-position: -48px -132px;
}
.rc-phone-input .sy {
  background-position: -64px -132px;
}
.rc-phone-input .sz {
  background-position: -80px -132px;
}
.rc-phone-input .tc {
  background-position: -96px -132px;
}
.rc-phone-input .td {
  background-position: -112px -132px;
}
.rc-phone-input .tg {
  background-position: -128px -132px;
}
.rc-phone-input .th {
  background-position: -144px -132px;
}
.rc-phone-input .tj {
  background-position: -160px -132px;
}
.rc-phone-input .tk {
  background-position: -176px -132px;
}
.rc-phone-input .tl {
  background-position: -192px -132px;
}
.rc-phone-input .tm {
  background-position: -208px -132px;
}
.rc-phone-input .tn {
  background-position: -224px -132px;
}
.rc-phone-input .to {
  background-position: -240px -132px;
}
.rc-phone-input .tr {
  background-position: 0 -143px;
}
.rc-phone-input .tt {
  background-position: -16px -143px;
}
.rc-phone-input .tv {
  background-position: -32px -143px;
}
.rc-phone-input .tw {
  background-position: -48px -143px;
}
.rc-phone-input .tz {
  background-position: -64px -143px;
}
.rc-phone-input .ua {
  background-position: -80px -143px;
}
.rc-phone-input .ug {
  background-position: -96px -143px;
}
.rc-phone-input .us {
  background-position: -112px -143px;
}
.rc-phone-input .uy {
  background-position: -128px -143px;
}
.rc-phone-input .uz {
  background-position: -144px -143px;
}
.rc-phone-input .va {
  background-position: -160px -143px;
}
.rc-phone-input .vc {
  background-position: -176px -143px;
}
.rc-phone-input .ve {
  background-position: -192px -143px;
}
.rc-phone-input .vg {
  background-position: -208px -143px;
}
.rc-phone-input .vi {
  background-position: -224px -143px;
}
.rc-phone-input .vn {
  background-position: -240px -143px;
}
.rc-phone-input .vu {
  background-position: 0 -154px;
}
.rc-phone-input .wf {
  background-position: -16px -154px;
}
.rc-phone-input .ws {
  background-position: -32px -154px;
}
.rc-phone-input .ye {
  background-position: -48px -154px;
}
.rc-phone-input .za {
  background-position: -64px -154px;
}
.rc-phone-input .zm {
  background-position: -80px -154px;
}
.rc-phone-input .zw {
  background-position: -96px -154px;
}
.rc-phone-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.rc-phone-input .hide {
  display: none;
}
.rc-phone-input .v-hide {
  visibility: hidden;
}
.rc-phone-input input[type=text],
.rc-phone-input input[type=tel] {
  border: 1px solid #dce4e7;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1F313A;
  padding: 8px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 44px;
  margin-left: 0;
}
.rc-phone-input input[type=text]:focus,
.rc-phone-input input[type=tel]:focus {
  border-color: #55C3E6 !important;
}

.rc-phone-input .flag-dropdown {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  padding: 0;
  background-color: #dce4e7;
  border-radius: 2px 0 0 2px;
}
.rc-phone-input .flag-dropdown.open-dropdown {
  background: #fff;
  border-bottom: 0;
  border-radius: 3px 0 0 0;
}
.rc-phone-input .flag-dropdown.open-dropdown .selected-flag {
  background: #fff;
  border-radius: 3px 0 0 0;
}
.rc-phone-input .flag-dropdown:hover {
  cursor: pointer;
}
.rc-phone-input .flag-dropdown:hover .selected-flag {
  background-color: #fff;
}
.rc-phone-input input[disabled] + .flag-dropdown:hover {
  cursor: default;
}
.rc-phone-input input[disabled] + .flag-dropdown:hover .selected-flag {
  background-color: transparent;
}
.rc-phone-input .selected-flag {
  z-index: 13;
  position: relative;
  width: 38px;
  height: 34px;
  padding: 0 0 0 8px;
  border-radius: 2px 0 0 2px;
}
.rc-phone-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
.rc-phone-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.rc-phone-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.rc-phone-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0 0 0 -1px;
  background-color: white;
  border: 1px solid #dce4e7;
  border-top: none;
  width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 2px 2px;
  top: 35px;
}
.rc-phone-input .country-list .flag {
  display: inline-block;
}
.rc-phone-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.rc-phone-input .country-list .country {
  padding: 6px 12px;
  font-size: 14px;
}
.rc-phone-input .country-list .country .dial-code {
  color: #788388;
}
.rc-phone-input .country-list .country:hover {
  background-color: #f6f8f9;
}
.rc-phone-input .country-list .country.highlight {
  background-color: #dce4e7;
}
.rc-phone-input .country-list .flag {
  margin-right: 6px;
  margin-top: 2px;
}
.rc-phone-input .country-list .country-name {
  margin-right: 6px;
}